@import url('https://rsms.me/inter/inter.css');

html { 
  font-family: 'Inter', sans-serif; 
  font-feature-settings: "zero", "ss01", "ss02", "ss03";
  font-size: calc(1em + 1vw);
}

@supports (font-variation-settings: normal) {
  html { 
    font-family: 'Inter var', sans-serif; 
  }
}


#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

header {
  background-color: #212121; 
  padding: 48px; 
  z-index: 10000; 
  width: 100%
}

footer {
  margin: 0 0 24px 0;
}

.form {
  display: flex;
  gap: 16px;
  margin-top: 56px
}

.submitBox {
  margin-bottom: 25.15px;
  display: flex;
}

.appBar {
  align-items: center;
}

.tabs {
  width: 480px;
}

.tabs button {
  border-radius: 16px 16px 0 0;
}

main.tabsWrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 24px 24px;
  border-radius: 0 0 16px 16px;
}

.tabContainer {
  padding: 24px
}

.tabContainer h2 {
  margin: 20px 0;
}

.selection {
  display: flex;
  justify-content: space-evenly;
  margin-top: 56px;
  margin-bottom: 32px;
  gap: 8px;
}

.selection > * {
  width: 33%;
  max-width: 150px;
}

.resultCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultCardActions {
  display: flex;
  justify-content: space-evenly;
  width: 100%
}

.link {
  text-decoration: none;
  color: inherit;
  box-shadow: inset 0 -3px 0 #ff9800;
  transition: all 300ms ease-in-out;
}

.link:hover {
  color: #212121;
  box-shadow: inset 0 -1.3rem 0 #ff9800;
}

.footerLink {
  text-decoration: none;
  color: inherit;
  box-shadow: inset 0 0 0 #ff9800;
  transition: all 300ms ease-in-out;
}

.footerLink:hover {
    color: #212121;
    box-shadow: inset 0 -1.3rem 0 #ff9800;
}

.buttonIcon {
  margin-left: 8px;
}
 
@media (max-width: 600px) {
  .tabs {
    width: 100%;
    max-width: 480px;
  }
}